.best-sale-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10%;
  position: relative;
  
}
.best-sale-text{
  text-align: center;
  margin-top: 5%;
  color: rgb(138, 63, 36);
}
.best-sale-images {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.best-sale-img-div {
  transition: transform 0.5s ease;
}

.best-sale-image {
  height: 400px;
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.index-0 {
  transform: scale(0.9) rotateZ(-3deg) translateY(40px);
  z-index: 1;
  height: 403px;
}

.index-1 {
  transform: scale(0.9) rotateZ(-2deg) translateY(20px);
  z-index: 1;
  height: 400px;
}

.index-2 {
  transform: scale(0.9) rotateZ(0deg) translateY(0);
  z-index: 1;
  height: 370px;
}

.index-3 {
  transform: scale(0.9) rotateZ(2deg) translateY(20px);
  z-index: 1;
  height: 400px;
}

.index-4 {
  transform: scale(0.9) rotateZ(3deg) translateY(40px);
  z-index: 1;
  height: 403px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  background-color:white;
  color: black;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 4;
  width: 70px;
  border-radius: 30px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slider-btn:hover {
  background-color: rgba(223, 223, 223, 0.8);
}



.best-sale-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.best-sale-images.slide {
  animation: slideLeft 0.3s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(30px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


