.division-heading{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.division-heading a{
    color: #636363;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.division-heading a:hover {
    color: #bf9968;
    filter: drop-shadow(0px 2px 4px #ffe5c3);
  }
@media (max-width: 480px) {
    .division-heading{
        display: none;
    }
}